* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family:Arial, Helvetica, sans-serif;
    background: #d3c7c7;
    color: #241a1a;
    line-height: 1.5;
}

header{
    background: brown;
    color:white;
    padding: 15px 20px;
    top: 0;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav h1{
    font-size:22px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: 3s;
}

nav ul li a:hover{
    color:yellow;

}

/* -----hero----*/
.hero {
    padding: 50px 20px;
    text-align: center;
    background: #c0aaaa;

}

.hero h2{
    font-size: 30px;
    margin-bottom: 10px;
}

/*sections about,skills */
section {
    padding: 40px 20px;
    max-width: 1110px;
    margin: auto;
}

section h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
}

.about-text{
    text-align: center;
}

/*skills-grid*/
.skill-card {
    background-color: pink;
    padding: 20px;
    border: 2px solid black;
    display: flex;              /* enable flexbox */
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
    text-align: center;         /* center text inside */
}


.skill-card{
    background-color:white;
    padding:20px;
    border: 2px solid black;
     border-radius: 6px;
}

.skill-card:hover{
    transform:scale(1);
    box-shadow:0px 8px 20px rgba(0,0,0,2);
}

/*projects section */
.projects{
    display:grid;
    grid-template-columns: repeat(1);
    gap:20px;
}

.project-card{
    background: white;
    padding: 20px;
    border: 2px solid black;
     border-radius: 6px;
}

.project-card:hover{
    transform:scale(1);
    box-shadow:0px 8px 20px rgba(0,0,0,2);
}

form input{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border:2px solid black;
    border-radius: 6px;

}

button{
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    color: white;
    background: rgb(164, 90, 90);
}

button:hover{
    background: #602b2b;
}

/*footer section*/
footer{
    background: brown;
    color: white;
    text-align: center;
}